{% extends '::base.html.twig' %}
{% block title %} About Us{% endblock %}
{% block menu2 %} active {% endblock %}
{% block content %}
	 <!--container-->
  <div class="page-heading"  style="background-image: url({{asset('')}}assets/images/Wide/3.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-title">
            <h2>About Us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- BEGIN Main Container -->  
          
<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
  <div class="main container">                     
    <div class="std">
      <div class="wrapper_bl" style="margin-top: 1px;">
        <div class="form_background">
          <h3>History</h3>
          <p style="text-align:justify;">ElSaad Establishment for export, Established in 2004, is one of the leading companies in the field of exporting and the packing of all kinds of Fruits and Vegetables. ELSAAD owns a farm of 800 hectares in Cairo Alex desert Road produces (Navel , Navel Late , Valencia , Grapes , Pomegranate , Lemons and Mandarins). ELSAAD export to 40 market all over the world. 
         </p>
          <br>
           <h3>Why Us ?</h3>
           <p style="text-align:justify;" >
            We aspire to be one of the best grower-exporter companies of a wide range of top quality fresh produce. we also have the capacity for development and sustainability to be one of the best agriculture companies in Egypt.  This is because of our farms as The area of these farms 650 acres, cultivated crops with different varieties of Citrus fruit, grapes shaded to be available to harvest at first of May, and there pomegranate Wonderful variety, and are available Onion by 15% of cultivated area and cultivated onion loaded on the other plantations as a legitimate scientific methods of integrated pest management, with a few areas of strawberries, green beans, and sweet potatoes.All our farms done under a completely system of good agricultural practices. We are proud that our company ranked as twenty-third among the list of Egyptian citrus exporters. We have our own farms and pack-house. We have high technology cold chain to maintain the quality of our fresh product and use high post-harvest technology to extend our product shelf life.  We take great pride in our top-quality produce and building the trust of our Clients.
          </p>
          <br>
          <h3> Our Mission </h3>
          <p style="text-align:justify;">ELSAAD is committed to growing profitably through innovation and operational excellence in supplying; producing and providing safe, hygienic and fresh Produce by using only eco friendly bio agents and following integrated pest management practices with the customer safety and satisfaction being our prime concern. In pursuing this mission, we will deliver value: 
          • To customers, by delivering fresh produce solutions with outstanding quality and great service, and continuously developing long-lasting relationships 
          • To staff, by offering a stimulating environment that encourages innovation and knowledge sharing. </p>
          <br>
          <h3> Our Vision </h3>
          <p style="text-align:justify;">To be the biggest Egyptian Grower/ exporter of Fresh Produce through the creation of sustainable and profitable farming whose produce is managed from soil to shelf.</p>
          <br>
           <h3> Our Clients </h3>
          <p style="text-align:justify;"><img class="pull-right" src="{{asset('assets/images/map.png')}}"  alt="map"><br>We view our clients as our partners and we aim to work collaboratively with them. Customer satisfaction is our first priority. Our team efforts aim to introduce joy to the customer and make a good impression when he uses our products.We offer after-sales services, to make sure of our customers’ satisfaction and to achieve the principle of Win-Win.
          <br><b>Our Markets </b>
            <ol>
              <li>Europe Markets like Germany, France, UK, Italy</li>
              <li>Fareast Markets like Singapore, Malaysia , Hong Kong, India , Bangladesh, China, Manila, Vietnam.</li>
              <li>Russia and Ukranie</li>
              <li>Africa Market Like Kenya, Togo , Signal , Sudan</li>
              <li>Gulf Market like Sudia Arabia , UAE , Jordan</li>
            </ol>
          </p>
          <br><br><br><br>
           <div class="row">
              <div class="logo-brand col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="new_title">
                <h2>Our Certificates</h2>
              </div>
                <div class="slider-items-products">
                  <div id="brand-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col6">
                      <!-- Item -->
                      <div class="item">
                      <div class="logo-item"><a href="#"><img src="{{asset('assets/images/Certificates/Sedex.png')}}" width="180px" height="200px" alt="Sedex"></a></div>
                      {#  <div class="logo-item"><a href="#"><img src="{{asset('assets/images/Sedex.png')}}"width="130px" height="100px" alt="Sedex"></a></div> #}
                       </div>
                      <!-- End Item -->
                      <!-- Item -->
                       <div class="item">
                      <div class="logo-item"><a href="#"><img src="{{asset('assets/images/Certificates/ISO9001.png')}}" width="180px" height="200px"alt="ISO9001"></a></div>
                      {#  <div class="logo-item"><a href="#"><img src="{{asset('assets/images/ISO9001.png')}}"width="130px" height="100px" alt="ISO9001"></a></div> #}
                       </div>
                      <!-- End Item -->
                      <!-- Item -->
                     <div class="item">
                      <div class="logo-item"><a href="#"><img src="{{asset('assets/images/Certificates/GlobalGAP.png')}}" width="160px" height="200px" alt="GlobalGAP"></a></div>
                      {#  <div class="logo-item"><a href="#"><img src="{{asset('assets/images/GlobalGAP.png')}}" width="130px" height="100px" alt="GlobalGAP"></a></div> #}
                       </div>
                      <!-- End Item -->
                      <!-- Item -->
                      <div class="item">
                      <div class="logo-item"><a href="#"><img src="{{asset('assets/images/Certificates/BRC.png')}}" width="190px" height="200px" alt="BRC"></a></div>
                       {# <div class="logo-item"><a href="#"><img src="{{asset('assets/images/BRC.png')}}" width="130px" height="100px" alt="BRC"></a></div> #}
                       </div>
                      <!-- End Item -->
                       
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 testimonials-section">
                <div class="offer-slider parallax parallax-2">
              <ul class="bxslider">
                 <li>
                <div class="avatar"><img src="{{asset('assets/images/fruit logistica.png')}}" alt="fruit"></div>
                <div class="testimonials">WAIT FOR US AT FRUIT LOGISTICA FROM Feb 08, 2017 TO Feb 10, 2017</div>
                {# <div class="clients_author">    Smith John  <span>Happy Customer</span> </div> #}
                </li>
                 {# <li>
                <div class="avatar"><img src="{{asset('assets/images/testimonial-photo.png')}}" alt="Image"></div>
                <div class="testimonials">"Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer."</div>
                <div class="clients_author">    Karla Anderson  <span>Happy Customer</span> </div>
                </li>
                  <li>
                <div class="avatar"><img src="{{asset('assets/images/testimonial-photo.png')}}" alt="Image"></div>
                <div class="testimonials">"Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer."</div>
                <div class="clients_author">    Smith John  <span>Happy Customer</span> </div>
                </li> #}
                  
               </ul>
               </div>
                </div>
              </div>
         
        </div>
      </div>
    </div>          
  </div><!--main-container-->
            
</div> <!--col1-layout-->
    <br>        
{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="{{asset('assets/js/revslider.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/revslider.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/jquery.bxslider.min.js')}}"></script>
{% endblock %}
