{% extends '::base.html.twig' %}
{% block title %}Certificates {% endblock %}
{% block menu6 %} active {% endblock %}
{% block content %}

 <!--container-->
  <div class="page-heading"  style="background-image: url({{asset('')}}assets/images/Wide/5.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-title">
            <h2>Certificates</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- BEGIN Main Container -->  
          
<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
  <div class="main container">
                       
    <div class="std">
      <div class="wrapper_bl" style="margin-top: 1px;">

        <div class="form_background">
           <div class="toolbar">
              <div class="page-title">
               <h2>Certificates</h2>
              </div>
           </div>
           <p style="text-align:justify;margin-top:10px;" >
            We aspire to be one of the best grower-exporter companies of a wide range of top quality fresh produce. we also have the capacity for development and sustainability to be one of the best agriculture companies in Egypt.  This is because of our farms as The area of these farms 650 acres, cultivated crops with different varieties of Citrus fruit, grapes shaded to be available to harvest at first of May, and there pomegranate Wonderful variety, and are available Onion by 15% of cultivated area and cultivated onion loaded on the other plantations as a legitimate scientific methods of integrated pest management, with a few areas of strawberries, green beans, and sweet potatoes.All our farms done under a completely system of good agricultural practices. We are proud that our company ranked as twenty-third among the list of Egyptian citrus exporters. We have our own farms and pack-house. We have high technology cold chain to maintain the quality of our fresh product and use high post-harvest technology to extend our product shelf life.  We take great pride in our top-quality produce and building the trust of our Clients.
          </p>
          
           <div class="row">
              <div class="logo-brand col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="new_title">
                <h2>Our Certificates</h2>
              </div>
               <div class="slider-items-products">
          <div id="brand-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col6">
              <!-- Item -->
              <div class="item">
              <div class="logo-item"><a href="#"><img src="{{asset('assets/images/Certificates/Sedex.png')}}" width="180px" height="200px" alt="Sedex"></a></div>
               <div class="logo-item"><a href="{{asset('assets/images/Certificates/Sedex1.png')}}"><img src="{{asset('assets/images/Certificates/Sedex1.png')}}" width="180px" alt="Image"></a></div>
               <div class="logo-item"><a href="{{asset('assets/images/Certificates/Sedex2.png')}}"><img src="{{asset('assets/images/Certificates/Sedex2.png')}}" width="180px" alt="Image"></a></div>
               </div>
              <!-- End Item -->
              <!-- Item -->
               <div class="item">
                <div class="logo-item"><a href="#"><img src="{{asset('assets/images/Certificates/ISO9001.png')}}" width="180px" height="200px"alt="ISO9001"></a></div>
               <div class="logo-item"><a href="{{asset('assets/images/Certificates/ISO90011.jpg')}}"><img src="{{asset('assets/images/Certificates/ISO90011.jpg')}}" width="180px" alt="Image"></a></div>
               
               </div>
              <!-- End Item -->
              <!-- Item -->
             <div class="item">
               <div class="logo-item"><a href="#"><img src="{{asset('assets/images/Certificates/GlobalGAP.png')}}" width="180px" height="200px" alt="GlobalGAP"></a></div>
               <div class="logo-item"><a href="{{asset('assets/images/Certificates/GlobalGAP1.png')}}"><img src="{{asset('assets/images/Certificates/GlobalGAP1.png')}}" width="180px" alt="Image"></a></div>
               <div class="logo-item"><a href="{{asset('assets/images/Certificates/GlobalGAP2.png')}}"><img src="{{asset('assets/images/Certificates/GlobalGAP2.png')}}" width="180px" alt="Image"></a></div>
               </div>
              <!-- End Item -->
              <!-- Item -->
              <div class="item">
             <div class="logo-item"><a href="#"><img src="{{asset('assets/images/Certificates/BRC.png')}}" width="180px" height="200px" alt="BRC"></a></div>
               <div class="logo-item"><a href="{{asset('assets/images/Certificates/BRC1.jpg')}}"><img src="{{asset('assets/images/Certificates/BRC1.jpg')}}" width="180px" alt="Image"></a></div>
              </div>
              <!-- End Item -->
              
            </div>
          </div>
        </div>
        </div>
                </div>
              </div>
         
        </div>
      </div>
    </div>          
  </div><!--main-container-->
            
</div> <!--col1-layout-->
    <br>        

{% endblock %}
