{% extends '::base.html.twig' %}
{% block title %}Farms {% endblock %}
{% block menu7 %} active {% endblock %}
{% block content %}


<div class="page-heading"  style="background-image: url({{asset('')}}assets/images/Wide/1.jpg);">
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a href="{{path('client_homepage')}}" title="Go to Home Page">Home</a> <span>—› </span> </li>
            <li class="category1599"> <a  title="fruits">El Saad Farms & Pack Stations</a>  </li>
            
          </ul>
        </div>
        <!--col-xs-12--> 
      </div>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
  <div class="page-title">
    <h2>Farms & Pack Stations </h2>
  </div>
</div>
    <section class="main-container col2-left-layout bounceInUp animated"> 
  <!-- For version 1, 2, 3, 8 --> 
  <!-- For version 1, 2, 3 -->
  <div class="container">
    <div class="content">
      {# <div class="col-main col-sm-12 col-sm-push-3 product-grid"> #}
      <div class="pro-coloumn">
        <article class="col-main">
          
          <div class="toolbar">
            <div class="page-title">
             <h2>Farms</h2>
            </div>
          
          </div>
          <div class="category-products">
             <p style="text-align:justify;" >
            ELSAAD owns a farm of 800 hectares in Cairo Alex desert Road produces (Navel , Navel Late , Valencia , Grapes , Pomegranate , Lemons and Mandarins). we have only from this space 400 hectares of Grapes Like Prime, Sugraone, Flame, Red Globe, Autunm Royal and Crimson.
          </p>
            <ul class="products-grid">
              
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
	                <div class="item-inner">
		              <div class="item-img">
		                <div class="item-img-info"><img src="{{asset('assets/images/Farm/1.jpg')}}" alt="Retis lapen casen">
		                </div>
		              </div>
		              
	                </div>
               </li>
               <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                  <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img src="{{asset('assets/images/Farm/2.jpg')}}" alt="Retis lapen casen">
                    </div>
                  </div>
                  
                  </div>
               </li>
               <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                  <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img src="{{asset('assets/images/Farm/3.jpg')}}" alt="Retis lapen casen">
                    </div>
                  </div>
                  
                  </div>
               </li>
               <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                  <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img src="{{asset('assets/images/Farm/4.jpg')}}" alt="Retis lapen casen">
                    </div>
                  </div>
                  
                  </div>
               </li>
			     <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                  <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img src="{{asset('assets/images/Farm/5.jpg')}}" alt="Retis lapen casen">
                    </div>
                  </div>
                  
                  </div>
               </li>
               <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                  <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img src="{{asset('assets/images/Farm/6.jpg')}}" alt="Retis lapen casen">
                    </div>
                  </div>
                  
                  </div>
               </li>
            </ul>
          </div>

          <div class="toolbar">
            <div class="page-title">
             <h2>Pack Station</h2>
            </div>
          
          </div>
          <div class="category-products">
            <center>
            <video width="auto" height="540" controls>
                <source src="{{asset('assets/images/Farm/El Saad.mp4')}}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
            </center>
          </div>
        </article>
        </div>
        <!--	///*///======    End article  ========= //*/// --> 
      {# </div> #}
      
      <!--col-right sidebar--> 
    </div>
    <!--row--> 
  </div>
  <!--container--> 
</section>       
{% endblock %}


