{% extends '::adminbase.html.twig' %}
{% block username %}{{user.username}}{% endblock %}
{% block menue1active %} active {% endblock %}
{% block title %}Home Page{% endblock %}
{% block content %}
<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			Dashboard 
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="{{path('admin_homepage')}}">Dashboard</a>
						<i class="fa fa-angle-right"></i>
					</li>
					
					
				</ul>
				
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<div class="portlet light">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-bar-chart font-green-sharp"></i>
									<span class="caption-subject font-green-sharp bold uppercase">Overview</span>
									<span class="caption-helper">weekly stats...</span>
								</div>
								<div class="tools">
									<a href="javascript:;" class="collapse">
									</a>
									<a href="#portlet-config" data-toggle="modal" class="config">
									</a>
									<a href="javascript:;" class="reload">
									</a>
									<a href="javascript:;" class="fullscreen">
									</a>
									<a href="javascript:;" class="remove">
									</a>
								</div>
							</div>
							<div class="portlet-body">
								<div class="tabbable-line">
									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#overview_1" data-toggle="tab">
											Best Seller </a>
										</li>
										<li>
											<a href="#overview_2" data-toggle="tab">
											Fruits Of The Season </a>
										</li>
										
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="overview_1">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														 Product Name
													</th>
													<th>
														 Calendar
													</th>
													<th>
													</th>
												</tr>
												</thead>
												<tbody>
											   {% for item in bestseller %}
												<tr>
													<td>
														<a href="{{path('admin_products' , {'categoryid' : item.id } )}}">
														{{ item.name }} </a>
													</td>
													<td>
														 {% for month in item.months %}
														 	{{month.name}} {% if loop.index < item.months|length %} -  {% endif %}
														 {% endfor %}
													</td>
													
													<td>
														<a href="{{path('admin_products' , {'categoryid' : item.id } )}}" class="btn default btn-xs green-stripe">
														View </a>
													</td>
												</tr>
											   {% endfor %}
												</tbody>
												</table>
											</div>
										</div>
										<div class="tab-pane" id="overview_2">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														 Product Name
													</th>
													<th>
														 Calendar
													</th>
													<th>
														 Views
													</th>
													<th>
													</th>
												</tr>
												</thead>
												<tbody>
												{% for item in itemsofMonth %}
												<tr>
													<td>
														<a href="{{path('admin_products' , {'categoryid' : item.id } )}}">
														{{ item.name }} </a>
													</td>
													<td>
														 {% for month in item.months %}
														 	{{month.name}} {% if loop.index < item.months|length %}-  {% endif %}
														 {% endfor %}
													</td>
													
													<td>
														<a href="{{path('admin_products' , {'categoryid' : item.id } )}}" class="btn default btn-xs green-stripe">
														View </a>
													</td>
												</tr>
											   {% endfor %}
												</tbody>
												</table>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
<!-- END CONTENT -->

{% endblock %}