{% extends '::adminbase.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block username %}{{user.username}}{% endblock %}
{% block menue2active %} active {% endblock %}
{% block title %}Product{% endblock %}
{% block content %}
<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			
			<h3 class="page-title">
			{{item.name}}
			</h3>
			
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					 <div class="portlet light">
					<div class="portlet-body">
						<div class="row">
							<div class="col-md-12 blog-page">
								<div class="row">
									<div class="col-md-9 article-block">
										<div class="blog-tag-data">
											 <div id="myCarousel" class="carousel image-carousel slide">
												<div class="carousel-inner">
													 {% for image in item.images %}
													 	{% if loop.index == 1 %}
													 <div class="active item">
														<img src="{{asset('assets/images/')}}{{image.url}}" class="img-responsive" alt="">
														
													</div>
													 	{% else %}
													<div class="item">
														<img src="{{asset('assets/images/')}}{{image.url}}" class="img-responsive" alt="">
														
													</div>
													{% endif %}
												{% endfor %}
													
												</div>
												<!-- Carousel nav -->
												<a class="carousel-control left" href="#myCarousel" data-slide="prev">
												<i class="m-icon-big-swapleft m-icon-white"></i>
												</a>
												<a class="carousel-control right" href="#myCarousel" data-slide="next">
												<i class="m-icon-big-swapright m-icon-white"></i>
												</a>
												
											</div>
										
										
									
									<!--end col-md-5-->
											
										</div>
										<!--end news-tag-data-->
										<div>
											<p>{{item.description}}</p>
											
										</div>
										
										<hr>
									</div>
									<!--end col-md-9-->
									
									<!--end col-md-3-->
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
<!-- END CONTENT -->

{% endblock %}
{% block javascript %}
	
	
{% endblock %}